%div{ class: "text-teal-400 border border-teal-400 rounded px-5 py-2 hover:bg-teal-950 cursor-pointer",
      "hx-get": path,
      "hx-trigger": "click",
      "hx-target": "body",
      "hx-push-url": "true" }= yield